{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Edit Player</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" class="form-control" value="{{ player.user.username }}" disabled>
        </div>
        <div class="form-group">
            <label for="nickname">Nickname:</label>
            <input type="text" id="nickname" name="nickname" class="form-control" value="{{ player.nickname }}" required>
        </div>
        <div class="form-group">
            <label for="prefix">Префикс:</label>
            <select name="prefix" id="prefix" class="form-control" required>
                <option value="" disabled selected>Выберите префикс</option>
                {% for prefix in prefixes %}
                <option value="{{ prefix.id }}" {% if player.prefix and player.prefix.id == prefix.id %}selected{% endif %}>{{ prefix.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="status">Статус:</label>
            <select name="status" id="status" class="form-control">
                <option value="" selected>Выберите статус</option> <!-- Сделать опцию по умолчанию пустой -->
                {% for status in statuses %}
                <option value="{{ status.id }}" {% if player.status and player.status.id == status.id %}selected{% endif %}>{{ status.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock %}